.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 20px;
  }
  
  .box {
    text-align: center;
  }
  
  .box img {
    width: 100%;
  }
  
  .box h3 {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .box p {
    margin-top: 5px;
    margin-bottom: 5px;
  }